In [2]:
seq = [1,2,3,4,5]

In [3]:
def times2(var):
    return var*2

In [4]:
times2(5)

10

In [5]:
#map

In [6]:
map(times2,seq)

In [8]:
 x = list(map(times2,seq))

In [9]:
print(x)

[2, 4, 6, 8, 10]

In [14]:
#lambda Function

In [11]:
t = lambda var:var*2

In [12]:
t(5)

10

In [13]:
list(map(t,seq))

[2, 4, 6, 8, 10]

In [15]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [16]:
#filter function

In [17]:
filter(lambda num:num%2 == 0 ,seq)

In [22]:
even=list(filter(lambda num:num%2 == 0 ,seq))

In [24]:
print(even )

[2, 4]

In [30]:
S = 'hello my name is sam'

In [32]:
s = S.upper()

In [34]:
print(s.lower())

hello my name is sam

In [35]:
s.split()

['HELLO', 'MY', 'NAME', 'IS', 'SAM']

In [36]:
twitter = "GO Sports! #Sprots"

In [37]:
twitter.split()

['GO', 'Sports!', '#Sprots']

In [39]:
twitter.split('#')

['GO Sports! ', 'Sprots']

In [40]:
twitter.split('#')[1]

'Sprots'

In [41]:
d = {'k1':1 , 'k2':2}

In [42]:
d.keys()

dict_keys(['k1', 'k2'])

In [43]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [44]:
d.values()

dict_values([1, 2])

In [45]:
lst=[1,2,3]

In [46]:
lst.pop()

3

In [47]:
lst.append(4)

In [48]:
lst.reverse()

In [49]:
print(lst)

[4, 2, 1]

In [50]:
lst.sort()

In [51]:
print(lst)

[1, 2, 4]

In [52]:
lst.append('new')

In [53]:
print(lst)

[1, 2, 4, 'new']

In [54]:
lst[3][2]

'w'

In [55]:
'x' in [1,2,3]

False

In [56]:
'x' in ['y',1,3,'x']

True

In [57]:
# tupple unpacking

In [72]:
x= [(1,2),(3,4),(5,6)]

In [73]:
x

[(1, 2), (3, 4), (5, 6)]

In [74]:
x[0]

(1, 2)

In [75]:
x[0][1]

2

In [76]:
x[1][0]

3

In [77]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [78]:
item

(5, 6)

In [79]:
for (a,b) in x:
    print(a)

1
3
5

In [80]:
print(b)

6

In [81]:
print(a)

5

In [82]:
for (w,y) in x:
    print(y)

2
4
6

In [83]:
print(x)

[(1, 2), (3, 4), (5, 6)]

In [84]:
for (a,b) in x:
    print(b)

2
4
6

In [85]:
print(7**4)

2401

In [86]:
s = 'hi there sam!'

In [87]:
s.split()

['hi', 'there', 'sam!']

In [88]:
planet = 'earth'
diameter = 12742

In [96]:
print('the diameter of {a} is {b} km'.format(a=planet,b=diameter))

the diameter of earth is 12742 km

In [97]:
d= {'k1':[1,2,3,{'trikey':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [98]:
d.keys()

dict_keys(['k1'])

In [100]:
d['k1'][0]

1

In [101]:
d['k1'][3]

{'trikey': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}

In [102]:
d['k1'][3]['trikey'][3]

{'target': [1, 2, 3, 'hello']}

In [103]:
d['k1'][3]['trikey'][3]['target'][3]

'hello'

In [105]:
s = 'user@domain.com'

In [108]:
s.split('@')[1]

'domain.com'

In [111]:
def domainGet(s):
    return s.split('@')[1]

In [112]:
domainGet(s)

'domain.com'

In [115]:
def findDog(s):
    return 'dog' in s.lower().split()

In [116]:
findDog('there is a dog')

True

In [117]:
def countDog(st):
    count=0
    for word in st.lower().split():
        if word == 'dog':
            count +=1
    return count

In [118]:
countDog('dog dog is barking dog')

3

In [130]:
seq = ['soup','dog','salad','cat','great']

In [131]:
list(filter(lambda word: word[0]=='s', seq))

['soup', 'salad']

In [136]:
list(filter(lambda word: word[1]=='a', seq))

['salad', 'cat']